<h1>Cadraste o seu livro:</h1>
<form class="form" action="/books/insertbook" method="POST">
<div class="form-control">
    <label for="title">Titulo</label>
    <input type="text" name="title" placeholder="Digite o Titulo"/>
</div>
<div class="form-control">
    <label for="pages">Paginas:</label>
    <input type="number" name="pages" placeholder="Quantas Paginas o Livro Tem?"/>

</div>
<input type="submit" placeholder="Cadastrar" />
</form>